/*
Com as definições abaixo, o projeto ficará fixado na tela assim que inicializado, previnindo scrooling (por conta do overflow e do block).
*/

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#game-container {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url("/assets/swamp_.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
