/*
Com as definições abaixo, o projeto ficará fixado na tela assim que inicializado, previnindo scrooling (por conta do overflow e do block).
*/

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#start-screen {
  background-image: url('../assets/swamp_home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #FFD700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  font-family: 'Impact', 'Arial Black', sans-serif;
}

#game-container {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url("/assets/swamp_.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 12px;
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 8px;
}

#log {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: limegreen;
  font-family: monospace;
  padding: 10px;
  box-sizing: border-box;
}

